version: "3.9"

services:
  registry:
    image: cmdb-agent:v1.0
    container_name: cmdb-registry
    command: ["./cmdb-agent", "registry-server", "--host", "0.0.0.0", "--port", "8080", "--config", "/app/config.yaml"]
    env_file:
      - .env
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
    restart: unless-stopped

  agent:
    image: cmdb-agent:v1.0
    container_name: cmdb-agent
    command: ["./cmdb-agent", "run", "cmdb-agent", "--config", "/app/config.yaml"]
    env_file:
      - .env
    working_dir: /app
    volumes:
      - ./:/app
    depends_on:
      - registry
    restart: unless-stopped